<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<h1>Talk-dock</h1>
	<h2>Login</h2>
	<div class="ovoj">
	<form action="/login" method="post">
		<input type="text" placeholder="Napiši uporabniško ime" id="user" name="user"/>
		<input type="password" placeholder="Napisi geslo" id="passw" name="passw"/>


		<a href="#" id="pozabilgeslo">Pozabil geslo?</a>

		<button>LOGIN</button>

	</form>


	</div>
	<script>
		  // let callbut = document.getElementById("joincall");
		//	callbut.addEventListener("click", redirecttoRoom);
		//function redirecttoRoom() {
    	//	window.location.href = `../room/${roomID}`;
	   //	}
	</script>

<script src="/socket.io/socket.io.js"></script>
<script defer>
	const socket = io();

	const loginForm = document.querySelector('form');
	const usernameInput = document.querySelector('#user');
	const passwordInput = document.querySelector('#passw');

	loginForm.addEventListener('submit', (event) => {
		event.preventDefault();

		socket.emit('login', {
		username: usernameInput.value,
		password: passwordInput.value
		});
	});

	socket.on('userLoginResult', (resultLength) => {
		if (resultLength > 0) {
		//user exists - allow login
		} else {
		//user does not exist - deny login and make inputs red
		usernameInput.style.backgroundColor = "red";
		passwordInput.style.backgroundColor = "red";
		}
	});
</script>


</body>
</html>