<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="../public/script.js" defer></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <style>
        body {
            background-color: #f8f8f8;
            font-family: Arial, sans-serif;
        }

        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
            gap: 20px;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
        .video-container {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 75%; /* Set the aspect ratio for the video container */
            overflow: hidden;
        }

        .video-container video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .video-text {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 8px;
            text-align: center;
        }

    </style>
</head>
<body>
    <div id="video-grid">

    </div>
</body>
</html>